body {
    background-color: #000000;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}


H1 {
    color: #fff;
    font-family: "Lucida Console", Monaco, monospace;
    position: relative;  
        left: 10px; 
        top: 340px;  
}

p {
    color: #ffffff;
    font-family: "Lucida Console", Monaco, monospace;
    position: relative;  
        left: 10px; 
        top: 330px;  
}
